body, div{
    /*border: black 1px solid;*/
    font-size: 1vw;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, serif;
    border: thin solid black;
}

.header{
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    border-bottom: thin solid black;
    background-image: url("images/view.png");
}

.header-menu{
    display: flex;
    flex-basis: 25%;
    flex-direction: row;
    justify-content: end;
}

.header-menu-item{
    width: 12.5%;
    padding: 0.75%;
}

.header-menu-item-active{
    color: red;
}

.header-name{
    text-align: center;
    height: 5vw;
    vertical-align: bottom;
}

.header-name p{
    padding-top: 3vh;
}

.main{
    display: grid;
    height: 70vh;
    grid-template-rows: repeat(3, 30%);
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    align-content: center;
    gap: 1vw;
}

.main-item{
    display: flex;
    flex-wrap: wrap;
    border: solid grey 2px;
    padding: 0.2vw;
}

.main-item-image{
    width: 49%;
}

.main-item-title{
    display: flex;
    width: 49%;
    align-items: center;
}

.main-item-article{
    display: flex;
    width: 100%;
}

.main-item-image img {
    height: 100px;
}

.footer{
    display: flex;
    flex-direction: row;
    height: 3vw;
    overflow: hidden;
    justify-content: space-between;
    border-top: thin solid black;
}

.footer-copyright{
    text-align: left;
    vertical-align: middle;
    width: fit-content;
    float: left;
    overflow: hidden;
    padding-left: 0.6vw;
}

.footer-contact{
    width: fit-content;
    text-align: right;
    float: left;
    padding-right: 0.6vw;
    overflow: hidden;
    vertical-align: middle;
}

.footer-copyright p{
    margin-bottom: 10px;
}

.footer-contact p{
    margin-bottom: 10px;
}

.icon{
    width: 10px;
}

@media(max-width: 1000px){

    .main{
        display: block;
    }

    .main-item{
        height: 10vh;
        margin: 0.1vh;
    }

    .header-menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: right;
        column-gap: 0;
    }
}
